.intro {
  font-size: 5px;
  font-weight: 800px;
}

.purple {
  color: rgb(92, 12, 92); 
  font-family: Papyrus;
}

h1 {
  color: darkred;
}

h2 {
  font-style: italic;
  color: red;
}

p {
  color: crimson;
  font-family: comic sans;
}

body {
  background-color: salmon;
  font-family: sans-serif;
  text-align: center;
}


